.btn-primary {
    position: relative;
    background-color: #313461;
    border: #313461;
}

.btn-light {
    position: relative;
    background-color: #e7e7ec;
    border: #e7e7ec;
}

.jumbotron {
    position: relative;
    text-align: center;
    border-bottom: 5px #f4f4f4 solid;
}

.jumbotron::before {
    position: absolute;
    content: "";
    background-image: url('images/bg-jumbotron.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    opacity: 0.67;
}

.jumbotron-main {
    padding: 0 60px 40px 60px;
}

.jumbotron-main h1 {
    position: relative;
    color: #ffffff;
    margin: 60px 0 30px 0;
}

.jumbotron p.lead {
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 60px;
}

.navbar {
    margin: 0;
    color: #fff;
    border-radius: 0 0 20px 20px;
}

.navbar a {
    color: #fff;
    margin-bottom: 3px;
}

.navbar a:hover {
    background: none !important;
    border-bottom: #fff 3px solid;
    margin-bottom: 0;
}

.container {
    margin: 30px 0 30px 0;
}

.index-cards {
    position: relative;
    min-height: 270px;
}

.index-cards-content {
    position: absolute;
    bottom: 15px;
    left: 0;
}

.index-row {
    margin: 20px 0 20px 0;
}

.index-title {
    padding: 5%;
}

.about-aside-paragraph {
    padding: 5%;
}

.about-paragraph {
    padding: 0 8px 8px 8px;
    text-align: left;
}

.services-paragraph {
    padding: 10px;
    text-align: left;
}

.icon-image {
    margin: 20px;
}

.img-full {
    width: 100%;
}

.section-a {
    background-color: #313461;
    color: #fff;
    text-align: center;
    padding: 50px;
    margin: 30px 0 30px 0;
}

.section-a h2 {
    font-size: 50px;
}

.section-b {
    margin: 30px 0 30px 0;
}

.section-b h2, p {
    text-align: center;
}

.listed-item {
    margin-top: 25px;
}

.main-footer {
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
}